<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.content %></td>
    <td><%= book.published_at %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>
      <%- if book.published_at.nil? %>
        <%= button_to "Publish", book_publish_path(book), :method => :put %>
      <%- else %>
        <%= button_to "Unpublish", book_unpublish_path(book), :method => :put %>
      <%- end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
